/* Other rules */
:root {
  --appSideMargin: 120px;
  --appGreenColor: #09aeb7;
}
* {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 34px;
  line-height: 42.5px;
}

body {
  background-color: #ebedee;
}

button {
  border-radius: 5px;
  border: 1px solid var(--appGreenColor);
  color: var(--appGreenColor);
  background-color: white;
  height: 30px;
}

.container {
  width: 1240px;
  display: flex;
  justify-content: center;
  margin: 0 var(--appSideMargin);
}

header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.search-container {
  display: flex;
  flex-direction: column;
}

.filter-class {
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  width: 100px;
  object-fit: cover;
  margin-right: 60px;
}

/* header > * {
  flex: 1;
} */

header > *:not(:first-child) {
  margin-right: 20px;
}

.search-container > input {
  /* flex: 1; */
  border-radius: 5px;
  height: 30px;
  border: none;
  background-color: #f5f6f7;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--appGreenColor);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--appGreenColor);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--appGreenColor);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*PriceMin PriceMax*/
.range-wrap {
  width: 500px;
  position: relative;
}
.range-value {
  position: absolute;
  top: -50%;
}
.range-value span {
  width: 30px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: var(--appGreenColor);
  color: #fff;
  font-size: 12px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 6px;
}
.range-value span:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid var(--appGreenColor);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

.price-min span:before {
  border: 1px solid #666;
}

.price-max,
.price-min {
  position: absolute;
  cursor: grab;
  user-select: none;
  touch-action: none;
  width: 50%;
  margin-left: 30px;
}

/* .price-min {
  z-index: 0;
}

.price-max {
  z-index: 1;
} */

.filter-container {
  margin-top: 25px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

header .btn-vente {
  color: white;
  background-color: var(--appGreenColor);
  margin-left: 40px;
  box-sizing: border-box;
}

.toDisconnect {
  border-color: #c2175b;
  background-color: #c2175b;
  color: white;
  box-sizing: border-box;
}

.toConnect {
  background-color: white;
  box-sizing: border-box;
}

/*Page Home*/
.hero {
  width: 100vw;
  height: 400px;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero div {
  position: absolute;
  top: 100px;
  left: var(--appSideMargin);
  width: 350px;
  height: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 20px;
  border-radius: 5px;
}

.hero button {
  height: 40px;
  border-radius: 5px;
  background-color: var(--appGreenColor);
  color: white;
}

.offers {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.offer {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  margin-right: 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.offer-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.offer-header span:last-child {
  margin-left: 10px;
}

.offer-header img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.offer > img {
  width: 225px;
  height: 325px;
  object-fit: cover;
}

.offer > img:hover {
  cursor: pointer;
}

/*Page Offer*/
.Offer {
  margin-left: calc(-1 * var(--appSideMargin));
  background-color: #ebedee;
}

.container-offer h2 {
  font-size: 24px;
  line-height: 34px;
}

.container-offer {
  background-color: #ebedee;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.container-offer > img,
.container-offer .details {
  margin: 40px;
}

.container-offer .details {
  background-color: white;
  width: 350px;
  padding: 40px;
}

.container-offer .line {
  width: 100%;
  border-color: #ebedee;

  margin: 50px 0;
}

.container-offer table {
  width: 100%;
}

.container-offer table td {
  font-size: 15px;
  line-height: 19.5px;
}

.container-offer .details h3,
.container-offer .details > span {
  line-height: 19.5px;
}

.container-offer .details h3 {
  margin-bottom: 10px;
}

.container-offer table .left-col,
.container-offer .details > span {
  color: #999999;
}

.offer-owner {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}

.offer-owner img,
.initial {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.offer-owner img {
  object-fit: cover;
}

.initial {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--appGreenColor);
  box-sizing: border-box;
  margin-left: 0px;
  padding: Opx;
}

.container-offer button {
  color: white;
  background-color: var(--appGreenColor);
  width: 100%;
  height: 30px;
  margin-top: 50px;
}

/*SIGNUP*/
/* Décrire l'animation */
@keyframes slideDownFadeIN {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

/* PUBLISH */
.publish-form {
  display: flex;
  flex-direction: column;
}

/* Foncer l'arrière-plan de la fenêtre modale */
.modal {
  /* display: none; */
  left: 0;
  top: 0;
  /* width: 100%; */
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Afficher la fenêtre modale lorsqu'elle est ciblée par un lien supprimer */
/* .modal:target {
  display: table;
  position: absolute;
} */

.display-block {
  display: table;
  position: absolute;
  z-index: 1;
}

.display-none {
  display: none;
}

/* la fenêtre modale  */
.modal-dialog {
  /* display: table-cell;
  vertical-align: middle; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

/* Le contenu de la modale */
.modal-dialog .modal-content {
  margin: auto;
  background-color: #f3f3f3;
  position: relative;
  padding: 0 10px;
  outline: 0;
  border: 1px #777 solid;
  text-align: justify;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  animation-name: slideDownFadeIN;
  animation-duration: 0.5s;
}

/* Bouton servant à fermer la fenêtre modale */
.closebtn {
  text-decoration: none;
  float: right;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
}

.closebtn:hover,
.closebtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* .container {
  padding: 2px 16px;
} */

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-content > header {
  margin-left: 0px;
  width: 100%;
  background-color: var(--appGreenColor);
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 50px;
}

.modal-content header h2 {
  padding-left: 10px;
  padding-top: 5px;
  flex: 10;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal-content form > input {
  width: 300px;
  box-sizing: border-box;
  height: 40px;
  border-radius: 5px;
}

.modal-content form > input:not(:last-child) {
  border: none;
  border-bottom: 1px solid tomato;
  margin-bottom: 10px;
}

.modal-content form > input:last-child {
  background-color: var(--appGreenColor);
  color: white;
  border-color: var(--appGreenColor);
}

.modal-content form .terms {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10px 0;
}

.modal-content form .terms span {
  font-size: 12px;
  margin-top: 10px;
}

.modal-content .already-signup,
.modal-content .signup {
  text-decoration: none;
  color: var(--appGreenColor);
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  cursor: pointer;
}
.modal-content form span {
  color: #999999;
}

#newsletter:checked {
  background-color: var(--appGreenColor);
}

/*PUBLISH*/
.product {
  display: flex;
  flex-direction: column;
}
.product-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: 1px solid #999999;
}

.publish-form .product-desc:first-child {
  height: 200px;
}

.product-desc > img:first-child {
  height: 90%;
  object-fit: cover;
}
.product-desc input[type='file'] {
  position: absolute;
  margin-top: 3px;
  margin-left: 3px;
  height: 1px;
  width: 1px;
  z-index: -5;
}

.product-desc > label {
  width: 50%;
  padding-left: 10px;
}
.publish-form .product-desc:first-child > label {
  width: 200px;
  height: 50px;
  border: 1px solid var(--appGreenColor);
  color: var(--appGreenColor);
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-desc > input,
.exchange {
  width: 50%;
  height: 50%;
  border: none;
  border-bottom: 1px solid #999999;
  padding-right: 10px;
}

.product-desc > input:focus {
  border: none;
  border-bottom: 1px solid var(--appGreenColor);
}

.exhange {
  border-bottom: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 50%;
  padding-right: 10px;
}

.exchange > input:first-child {
  border: none;
  border-bottom: 1px solid #999999;
  padding-right: 10px;
  width: 100%;
  height: 60%;
}

.publish-form .product-desc:last-child {
  border: none;
  background-color: violet;
}

/*form submit button*/
form > input {
  background-color: var(--appGreenColor);
  width: 100px;
  height: 30px;
}

/*PAYMENT*/
.command {
  margin-top: 35px;
  background-color: white;
  width: 600px;
}
.command-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.command-content .summary {
  margin-bottom: 35px;
  color: #a0a0a0;
}

.command-content .content {
  display: flex;
  justify-content: space-between;
  color: #a0a0a0;
}

.command-content .total {
  margin: 40px 0;
  font-weight: bold;
  color: black;
}

.command-content > button {
  margin-top: 20px;
  width: 100%;
  color: white;
  background-color: #00c06d;
  border: 1px solid #00c06d;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkoutForm {
  margin: 20px 0px;
}

@media (max-width: 768px) {
  :root {
    --appSideMargin: 5px;
  }

  h2 {
    font-size: 17px;
    line-height: 30px;
  }

  .container {
    width: 100vw;
    margin: 0px;
  }

  header {
    padding: 0px;
    flex-direction: column;
  }

  header {
    padding: 0px;
    height: 180px;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  /* header > *:not(:first-child) {
    margin-right: 5px;
  }

  header .btn-vente {
    margin-left: 0px;
    display: none;
  }

  header > input {
    flex: 1;
    width: 50px;
  } */

  header img {
    margin-top: 5px;
    width: 60px;
    margin-left: 0px;
    margin-right: 5px;
  }

  header button {
    margin-left: 5px;
    width: 100px;
  }

  header button {
    margin-right: 5px;
    margin-left: 0px;
  }
  .slider.round {
    border-radius: 25px;
  }

  .switch {
    height: 32px;
  }

  /*PriceMin PriceMax*/
  .range-wrap {
    width: 200px;
  }

  /*Page Home*/
  .hero {
    height: 300px;
  }

  .hero div {
    top: 200px;
    width: 45%;
    height: 150px;
    padding: 0 10px;
    text-align: center;
  }

  .offer > img {
    width: 140px;
    height: 225px;
    object-fit: cover;
  }

  .container-offer {
    flex-direction: column;
    justify-content: flex-start;
  }

  .container-offer > img,
  .container-offer .details {
    margin: 1px;
  }

  .container-offer .details {
    width: 100%;
    padding: 10px;
  }

  .modal {
    width: 100vw;
  }

  .modal-content header {
    margin-left: 0px;
    padding-left: 0px;
  }

  .modal-content header h2 {
    flex: 7;
  }

  .modal-dialog {
    width: 100vw;
    margin-left: 0px;
  }
  .modal-content {
    width: 100%;
    margin-left: 0px;
  }

  .modal-content form {
    width: 100%;
  }
  .modal-content form .terms {
    width: 100%;
  }

  .modal-content form > input,
  .modal-content form span {
    width: 95%;
    box-sizing: border-box;
  }
}
